﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Thông tin yêu cầu từ học sinh : {{Requestor}}</title>
    <style>
        * { /* reset lại margin và padding cho các tag */
            margin: 0;
            padding: 0;
        }

        .tableStyle {
            border: 1px solid black;
            width: 100%;
        }

            .tableStyle th {
                background-color: #cad8fa;
                padding: 5px;
            }

            .tableStyle td {
                background-color: #f0e7da;
                padding: 5px;
            }
    </style>
</head>
<body>
    <h5>Tin nhắn gửi từ Online Help</h5>
    <table class="tableStyle">
            <tr>
                <th>Người gửi yêu cầu</th>
                <th>Email</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>{{Requestor}}</td>
                <td>{{Email}}</td>
                <td>{{Description}}</td>
            </tr>
    </table>
    <p>Cám ơn bạn đã gửi yêu cầu đến chúng tôi.</p>
    <p>Chúng tôi sẽ cố gắng hoàn thành sớm nhất có thể</p>
</body>

</html>