﻿@model PagedList.IPagedList<Model.EF.Employee>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/LayoutAdmin.cshtml";
}
@section jsFooter{
    <script src="~/Assets/Admin/js/controller/employeeController.js"></script>
    
}
@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-7">
            <h2>List of employee</h2>
        </div>
        <div style="margin-top:20px" class="col-md-5">
            <div class="col-md-8">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" value="@ViewBag.searchString" type="text" placeholder="Search" name="searchString">
                </form>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <div class="agile-grids">
            <div class="w3l-table-info">
                <table id="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Account</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Manipulation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td><img src="@item.Avartar" alt="@item.Avartar" width="100" /></td>
                                <td>@item.UserName</td>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>
                                    @if (item.Status == true)
                                    {
                                        <a style="background-color:green; border-radius: 5px; padding: 5px;text-align:center;color:white" href="#" class="btn-active" data-id="@item.ID">Active</a>
                                    }
                                    else if (item.Status == false)
                                    {
                                        <a style="background-color:red; border-radius: 5px; padding: 5px;text-align:center;color:white" href="#" class="btn-active" data-id="@item.ID">Lock</a>
                                    }
                                </td>
                                <td>
                                    @if (item.Type == 0)
                                    {
                                    <a style="background-color: green; border-radius: 4px; padding: 4px; width: 70px;text-align:center;color:white;" class="btn-type" data-id="@item.ID" href="#">Electrical repair</a>
                                    }
                                    else if (item.Type == 1)
                                    {
                                    <a style="background-color: green; border-radius: 4px; padding: 4px; width: 70px;text-align:center;color:white;" class="btn-type" data-id="@item.ID" href="#">Water repair</a>
                                    }
                                    else if (item.Type == 2)
                                    {
                                        <a style="background-color: green; border-radius: 4px; padding: 4px; width: 70px;text-align:center;color:white;" class="btn-type" data-id="@item.ID" href="#">Fix network</a>
                                    }
                                    else if (item.Type == 3)
                                    {
                                        <a style="background-color: green; border-radius: 4px; padding: 4px; width: 70px;text-align:center;color:white;" class="btn-type" data-id="@item.ID" href="#">Fixing utensils</a>
                                    }
                                </td>
                                <td>
                                    <a href="/AdminManager/Employee/Edit/@item.ID">Edit</a>|
                                    @Ajax.ActionLink("Delete","Delete",new { @id=item.ID},new AjaxOptions{
                                   Confirm = "Do you want to delete this record",
                                   OnComplete = "$('#row_"+@item.ID+"').remove()",
                                   HttpMethod ="Delete"
                               })
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.searchString }))
            </div>

        </div>
    </div>

</div>
<script>
    $('#table').basictable();
</script>

