﻿@model Model.EF.Room
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/AdminManager/Views/Shared/LayoutAdmin.cshtml";
}

@section header{
    Edit Room
}

@using (Html.BeginForm("Edit", "Room", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FacilityID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <select name="FacilityID" class="form-control">
                    @foreach (var item in ViewBag.FacilityID)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.FacilityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}

