﻿<div class="sidebar-menu">
    <header class="logo1">
        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu">
            <li><a href="/AdminManager/HomeAdmin/Index"><i class="fa fa-home"></i> <span>Home</span><div class="clearfix"></div></a></li>
            <li id="menu-academico">
                <a href="#"><i class="fa fa-list-alt"></i><span>Admin</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                <ul id="menu-academico-sub">
                    <li id="#"><a href="/AdminManager/Admin/Create/">Create</a></li>
                    <li id="#"><a href="/AdminManager/Admin/Index/">List</a></li>
                </ul>
            </li>

            <li id="menu-academico">
                <a href="#"><i class="fa fa-user"></i><span>User</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                <ul id="menu-academico-sub">
                    <li id="#"><a href="/AdminManager/User/Create/">Create</a></li>
                    <li id="#"><a href="/AdminManager/User/Index/">List</a></li>
                </ul>
            </li>
            <li id="menu-academico">
                <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i><span>Employee</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                <ul id="menu-academico-sub">
                    <li id="#"><a href="/AdminManager/Employee/Create/">Create</a></li>
                    <li id="#"><a href="/AdminManager/Employee/Index/">List</a></li>
                </ul>
            </li>
            <li id="menu-academico">
                <a href="#"><i class="fa fa-building-o"></i><span>Facility</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                <ul id="menu-academico-sub">
                    <li id="#"><a href="/AdminManager/Facility/Create/">Create</a></li>
                    <li id="#"><a href="/AdminManager/Facility/Index/">List</a></li>
                </ul>
            </li>
            <li id="menu-academico">
                <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i><span>Room</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                <ul id="menu-academico-sub">
                    <li id="#"><a href="/AdminManager/Room/Create/">Create</a></li>
                    <li id="#"><a href="/AdminManager/Room/Index/">List</a></li>
                </ul>
            </li>
            <li id="menu-academico">
                <a href="#"><i class="fa fa-gavel" aria-hidden="true"></i><span>Belongings</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                <ul id="menu-academico-sub">
                    <li id="#"><a href="/AdminManager/Belonging/Create/">Create</a></li>
                    <li id="#"><a href="/AdminManager/Belonging/Index/">List</a></li>
                </ul>
            </li>
            <li><a href="/AdminManager/Request/Index"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Request</span><div class="clearfix"></div></a></li>
            <li><a href="/AdminManager/FeedBack/Index"><i class="fa fa-comment" aria-hidden="true"></i> <span>FeedBack</span><div class="clearfix"></div></a></li>
        </ul>
    </div>
</div>
