﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Alphabet Education Category Bootstrap Responsive website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Alphabet Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="/Assets/Client/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- portfolio -->
    <link href="/Assets/Client/css/gallery.css" type="text/css" rel="stylesheet" media="all">
    <!-- testimonials -->
    <link href="/Assets/Client/css/testimonials.css" type="text/css" rel="stylesheet" media="all">
    <link href="/Assets/Client/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="/Assets/Client/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Assets/Client/css/Dop.css" rel="stylesheet" />
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>
    @if (Session["checkLogin"] != null)
    {
        <script>
            swal({
                title: "Login error",
                text: "You have entered an incorrect account or incorrect password!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
        </script>
    }
    <!-- banner -->
    @RenderBody()
    @RenderSection("slide", required: false)

    <!-- //banner -->
    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  text-center">
                        <li class="nav-item active  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="index.html">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" href="#about">About</a>
                        </li>
                        @*<li class="nav-item dropdown mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item scroll" href="#services">services</a>
                                <a class="dropdown-item scroll" href="#stat">facts</a>
                                <a class="dropdown-item scroll" href="#team">team</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item scroll" href="#portfolio">gallery</a>
                                <a class="dropdown-item scroll" href="#posts">latest posts</a>
                                <a class="dropdown-item scroll" href="#testimonials">testimonials</a>
                            </div>
                        </li>*@
                        <li class="nav-item  mt-lg-0 mt-3">
                            <a class="nav-link scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- //header -->
    <!-- about -->
    <section class="wthree-row  w3-about position-relative" id="about">
        <div class="container">
            @RenderSection("notification", required: true)
        </div>
        <div class="abt-pos">
            <h4>Request Information</h4>
            <div class="contcat-form">
                @RenderSection("request", required: true)
            </div>
        </div>
    </section>
    <!-- //about -->
    <!-- why us -->
    <section class="why-sec" id="services">
        <div class="container py-lg-3">
            <div class="row">
                <div class="col-lg-6 bg-img1 order-lg-0 order-1 mt-lg-0 mt-4">
                </div>
                @{
                    var user = (OnlineHelp.Common.UserLogin)Session[OnlineHelp.Common.CommonConstants.USER_SESSION];
                }
                @if (user == null)
                {
                    <div class="offset-lg-1 col-lg-5 order-lg-1 order-0 ">
                        <div class="sec-main">
                            <span class="sub-line">Facility</span>
                            <h3 class="wthree-title">The total has @ViewBag.ListCountFacility bases</h3>
                        </div>
                        <ul class="list-group mt-3 why-list">
                            @foreach (var item in ViewBag.facility)
                            {
                                <li style="margin-top:20px; font-size:20px">
                                    <span><i style="color:#80cd33" class="fa fa-sort-alpha-asc" aria-hidden="true"></i>&ensp;@item.Name</span>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div class="offset-lg-1 col-lg-5 order-lg-1 order-0 ">
                        <div class="sec-main">
                            <span class="sub-line"><i class="fa fa-history" aria-hidden="true"></i>&ensp;History</span>
                        </div>
                        <table class="scroll">
                            <thead>
                                <tr class="row">
                                    <th class="col-md-5">Create Date</th>
                                    <th class="col-md-4">Description</th>
                                    <th class="col-md-3">Manipulation</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var des in (List<Model.EF.Request>)Session["ListDescription"])
                                {
                                    <tr class="row">
                                        <td class="col-md-6">@des.RequestDateTime</td>
                                        <td class="col-md-4">@des.Description</td>
                                        <td class="col-md-2">
                                            <a href="#" class="deleteDes" data-id="@des.RequestID">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- //why us -->
    <section class="services-w3sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 my-lg-0 my-sm-5 my-4">
                    <div class="w3ls-servgrid card">
                        <div class="card-header">
                            <span class="sub-line">01</span>
                            <h4 class="serv-title">
                                Student, Teacher
                            </h4>
                        </div>
                        <div class="card-block">
                            <p class="card-title servgrid-title">
                                Students and teachers send requests so Board of Management
                            </p>
                            <a href="#portfolio" class="text-capitalize servgrid_link btn scroll">View More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="w3ls-servgrid card">
                        <div class="card-header">
                            <span class="sub-line">02</span>
                            <h4 class="serv-title">
                                Board
                            </h4>
                        </div>
                        <div class="card-block">
                            <p class="card-title servgrid-title">
                                The Board of Directors will approve the request for submission
                            </p>
                            <a href="#portfolio" class="text-capitalize servgrid_link btn scroll">View More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-lg-0 my-4 pl-lg-0">
                    <div class="w3ls-servgrid card">
                        <div class="card-header">
                            <span class="sub-line">03</span>
                            <h4 class="serv-title">
                                Repair Team
                            </h4>
                        </div>
                        <div class="card-block">
                            <p class="card-title servgrid-title">
                                The team that receives the correction request and when completed will send a notice to the Board of Management and the sender.
                            </p>
                            <a href="#portfolio" class="text-capitalize servgrid_link btn scroll">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //services -->
    <!-- portfolio -->
    <div class="portfolio-wthree py-lg-5" id="portfolio">
        <div class="container pt-md-5 pt-4">
            <div class="sec-main">
                <span class="sub-line">Illustration</span>
                <h3 class="wthree-title">System flow</h3>
            </div>
            <div class="pb-lg-5 pb-sm-4">
                <ul class="demo row">
                    <li class="col-lg-4  col-md-6">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="/Assets/Client/images/dangnhap.PNG" alt=" " style="width:330px;height:220px;" class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center">Log in to the system</h6>
                                <p>
                                    You can login to the Online Help system
                                    ours.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="/Assets/Client/images/guithongtin.PNG" style="width:330px;height:220px;" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center">Submit Request Information</h6>
                                <p>
                                    Submit requests for facilities, schools
                                    my via information.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6 my-lg-0 my-md-4 mx-auto">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="~/Assets/Client/images/thongbao.jpg" style="width:330px;height:220px;" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center">Management board receives notice</h6>
                                <p>
                                    Management will receive notice of your complaint.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6 my-lg-0 my-md-4">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="~/Assets/Client/images/yes.jpg" style="width:330px;height:220px;" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center">The management board confirms the request</h6>
                                <p>
                                    The management board confirms your request, and will send it to the dairy team.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="/Assets/Client/images/chinhsua.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center">The correction team requests</h6>
                                <p>
                                    The repair team will receive your correction request from the management.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6 mt-md-0 mx-auto">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="/Assets/Client/images/capnhat.jpg" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center">Team to update status updates</h6>
                                <p>
                                    The repair team will work, when done, will send a notice to you and management.
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- //portfolio -->
    <!-- stats -->
    <section class="w3_pvt_stats py-md-5 py-4" id="stat">
        @RenderSection("countRequest", required: true)
    </section>
    <!-- //stats -->
    <!-- team -->
    <section class="team_wthree py-4" id="team">
        <div class="container py-lg-5">
            <div class="sec-main">
                <span class="sub-line">Team work</span>
                <h3 class="wthree-title">Team</h3>
            </div>
            <div class="row py-4 py-lg-5">
                <div class="col-lg-4 col-md-6">
                    <div style="max-height:230px;overflow:hidden;display:inline-block" class="team_grid">
                        <img src="/Assets/Client/images/namtruong.jpg" class="img-fluid img-thumbnail" alt="" />
                    </div>
                    <div class="team-text bg-theme1">
                        <h4 class="text-theme1">Nguyễn Nam Trường</h4>
                        <span class="my-2 d-block">Developer</span>
                        <p>Online Help Members</p>
                        <hr>
                        <div class="footerv4-social d-flex align-items-center">
                            <ul class="d-flex">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook-f icon_facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter icon_twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-dribbble icon_dribbble"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-google-plus icon_g_plus"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-md-0 my-4">
                    <div style="max-height:230px;overflow:hidden;display:inline-block" class="team_grid">
                        <img src="/Assets/Client/images/phamhieu.jpg" class="img-fluid img-thumbnail" alt="" />
                    </div>
                    <div class="team-text bg-theme2">
                        <h4 class="text-theme2">Phạm Văn Hiếu</h4>
                        <span class="my-2 d-block">Developer</span>
                        <p>Online Help Members</p>
                        <hr>
                        <div class="footerv4-social d-flex align-items-center">
                            <ul class="d-flex">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook-f icon_facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter icon_twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-dribbble icon_dribbble"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-google-plus icon_g_plus"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-auto mt-lg-0 mt-md-4">
                    <div style="max-height:230px;overflow:hidden;display:inline-block" class="team_grid">
                        <img src="/Assets/Client/images/vannam.jpg" class="img-fluid img-thumbnail" alt="" />
                    </div>
                    <div class="team-text bg-theme3">
                        <h4 class="text-theme3">Nguyễn Văn Nam</h4>
                        <span class="my-2 d-block">Developer</span>
                        <p>Online Help Members</p>
                        <hr>
                        <div class="footerv4-social d-flex align-items-center">
                            <ul class="d-flex">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook-f icon_facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter icon_twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-dribbble icon_dribbble"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-google-plus icon_g_plus"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row py-4 py-lg-5">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-md-6 mx-auto mt-lg-0 mt-md-4">
                    <div style="max-height:230px;overflow:hidden;display:inline-block" class="team_grid">
                        <img src="/Assets/Client/images/phamanh.jpg" class="img-fluid img-thumbnail" alt="" />
                    </div>
                    <div class="team-text bg-theme4">
                        <h4 class="text-theme4">Phạm Anh</h4>
                        <span class="my-2 d-block">Developer</span>
                        <p>Online Help Members</p>
                        <hr>
                        <div class="footerv4-social d-flex align-items-center">
                            <ul class="d-flex">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook-f icon_facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter icon_twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-dribbble icon_dribbble"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-google-plus icon_g_plus"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-auto mt-lg-0 mt-md-4">
                    <div style="max-height:230px;overflow:hidden;display:inline-block" class="team_grid">
                        <img src="/Assets/Client/images/quangkhai.jpg" class="img-fluid img-thumbnail" alt="" />
                    </div>
                    <div class="team-text bg-theme5">
                        <h4 class="text-theme5">Ngô Quang Khải</h4>
                        <span class="my-2 d-block">Maintainer</span>
                        <p>Online Help Members</p>
                        <hr>
                        <div class="footerv4-social d-flex align-items-center">
                            <ul class="d-flex">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook-f icon_facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter icon_twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-dribbble icon_dribbble"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-google-plus icon_g_plus"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>
    <!-- //team -->
    <!-- blog -->
    <section class="blog_w3ls pb-lg-5" id="posts">
        @RenderSection("postRequest", required: true)
    </section>
    <!-- //blog -->
    <!-- testimonials -->
    @RenderSection("feedBack", required: true)
    <!-- //testimonials -->
    <!-- contact -->
    @RenderSection("contact",required:true)
    <!-- //contact -->
    <!-- map -->
    <div class="map p-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0951822985944!2d105.77955771440733!3d21.02887719315135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b3260b1a8b%3A0x862052392e3f478e!2zOCBUw7RuIFRo4bqldCBUaHV54bq_dCwgTeG7uSDEkMOsbmgsIFThu6sgTGnDqm0sIEjDoCBO4buZaSAxMDAwMCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1552388979603" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!--// map-->
    <!-- footer -->
    <footer class="footer py-md-5 pt-md-3 pb-sm-5">
        <div class="container-fluid">
            <div class="row p-sm-4 px-3 py-5">
                <div class="col-lg-4 col-md-6 footer-top mt-md-0 mt-sm-5">
                    <h2>
                        <a class="navbar-brand" href="index.html">
                            O<span>n</span>Line<span>H</span>e<span>l</span>p
                        </a>
                    </h2>
                    <p class="my-3 text-white">
                        Online Help is an online help system
                    </p>
                    <p class="text-white">
                        We always try our best to ensure all the rights of students and students ... When
                        are studying and working at their school in the best possible way
                    </p>
                </div>
                <div class="col-lg-4  col-md-6 mt-md-0 mt-5">

                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Contact US</h3>
                        <hr>
                        <div class="fv3-contact">
                            <p>
                                <a href="mailto:example@email.com">OnlineHelp@gmail.com</a>
                            </p>
                        </div>
                        <div class="fv3-contact my-2">
                            <p>+456 123 7890</p>
                        </div>
                        <div class="fv3-contact">
                            <p>
                                8 Ton That Thuyet

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //footer bottom -->
    </footer>
    <div class="cpy-right">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="wthree-social">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="fa fa-facebook-f icon_facebook"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-twitter icon_twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-dribbble icon_dribbble"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-google-plus icon_g_plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right mt-lg-0 mt-4">
                    <p>
                        © 2018 Alphabet. All rights reserved | Design by
                        <a href="http://w3layouts.com"> W3layouts.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- login  -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-bg">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        <h6 style="text-align:center" class="text-danger">@ViewBag.LoginError</h6>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input type="text" name="UserName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" name="Password" class="form-control" />
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control bg-theme1" value="Login">
                        </div>
                        <div class="row sub-w3l my-3">
                            <div class="col-sm-6 sub-w3_pvt">
                                <input type="checkbox" id="brand1" value="">
                                <label for="brand1" class="text-dark">
                                    <span></span>Remember Me?
                                </label>
                            </div>
                            @*<div class="col-sm-6 forgot-w3l text-sm-right">
                                    <a href="#" class="text-secondary">Forgot Password?</a>
                                </div>*@
                        </div>
                        @*<p class="text-center">
                                Don't have an account?
                                <a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-secondary">
                                    Register Now
                                </a>

                            </p>*@
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- //login -->
    <!-- register -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Setting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @{
                    var user1 = (OnlineHelp.Common.UserLogin)Session[OnlineHelp.Common.CommonConstants.USER_SESSION];
                }
                @if (user1 != null)
                {
                    <div class="modal-body modal-bg">
                        <form action="/Home/Setting" method="post" class="p-sm-3">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Name</label>
                                <input type="text" class="form-control" value="@user1.Name" placeholder="" name="Name" id="recipient-rname"
                                       required="">
                            </div>
                            <div class="form-group">
                                <label for="recipient-email" class="col-form-label">Username</label>
                                <input type="text" class="form-control" value="@user1.UserName" placeholder="" name="UserName" id="recipient-email"
                                       required="" readonly>
                            </div>
                            <div class="form-group">
                                <label for="password1" class="col-form-label">Old password</label>
                                <input type="password" class="form-control" placeholder="" name="Password"
                                       required="">
                            </div>
                            <div class="form-group">
                                <label for="password2" class="col-form-label">New password</label>
                                <input type="password" class="form-control" placeholder="" name="NewPassword"
                                       required="">
                            </div>
                            <div class="right-w3l">
                                <input type="submit" class="form-control bg-theme1" value="Update">
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- //blog modal3-->
    <!-- js -->
    <script src="/Assets/Client/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- script for password match -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->
    <!-- Banner  Responsiveslides -->
    <script src="/Assets/Client/js/responsiveslides.min.js"></script>
    <script>
        // You can also use"$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //Banner  Responsiveslides -->
    <!-- gallery -->
    <script src="/Assets/Client/js/jquery.picEyes.js"></script>
    <script>
        $(function () {
            //picturesEyes($('.demo li'));
            $('.demo li').picEyes();
        });
    </script>
    <!-- //gallery -->
    <!-- stats -->
    <script src="/Assets/Client/js/counter.js"></script>
    <!-- //stats -->
    <!-- start-smooth-scrolling -->
    <script src="/Assets/Client/js/move-top.js"></script>
    <script src="/Assets/Client/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="/Assets/Client/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Assets/Client/js/bootstrap.js"></script>
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <script>
        $('.deleteDes').off('click').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var con = confirm("Bạn có muốn xóa yêu cầu này không");
            if (con) {
                $.ajax({
                    url: "/Home/Delete/" + id,
                    type: "POST",
                    dataType: "json",
                    success: function (res) {
                        if (res.status == true) {
                            swal("Thông báo", "Xóa yêu cầu thành công.", "success")
                                .then((value) => {
                                    window.location.href = "/";
                                })
                        } else {
                            swal({
                                title: "Thông báo",
                                text: "Chưa xóa yêu cầu.",
                                icon: "warning",
                                buttons: true,
                                dangerMode: true
                            }).then((value) => {
                                window.location.href = "/";
                            })
                        }
                    }
                })
            }
        });

    </script>
</body>

</html>


