﻿@model PagedList.IPagedList<Model.EF.Belonging>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Index", "Belonging", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-7">
            <h2>List of utensils</h2>
        </div>
        <div style="margin-top:20px" class="col-md-5">
            <div class="col-md-8">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" value="@ViewBag.searchString" type="text" placeholder="Search" name="searchString">
                </form>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </div>
}
<div class="w3l-table-info">
    <table id="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>RoomID</th>
                <th>Manipulation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="row_@item.Id">
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    @foreach (var room in ViewBag.RoomID)
                    {
                        if (item.RoomID == room.Id)
                        {
                            <td>@room.Name</td>
                        }
                    }
                    

                    <td>
                        <a href="/AdminManager/Belonging/Edit/@item.Id">Edit</a>
                        |
                        <a href="#" class="deleteDes" data-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
</div>
<script>
    $('#table').basictable();
</script>
<script>
    $('.deleteDes').off('click').on('click', function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        var con = confirm("Do you want to delete this request?");
        if (con) {
            $.ajax({
                url: "/AdminManager/Belonging/Delete/" + id,
                type: "POST",
                dataType: "json",
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = "/AdminManager/Belonging/Index";
                    } else {
                        alert("Delete failed");
                    }
                }
            });
        }
    });

</script>

