﻿@model PagedList.IPagedList<Model.EF.Request>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
@section slide{
    <div class="callbacks_container">
        <ul class="rslides" id="slider3">
            <li class="slider-img">
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col-3 col-sm-6 px-0 bg-theme1 banner-left-grid">
                            <div class="banner-text h-100">
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 banner banner1 banner-text">
                        </div>
                        <div class="slider-info">
                            <span class="line">Online Help</span>
                            <h3>Lightweight</h3>
                            <p class="text-white">
                                All requests will be sent to management quickly
                            </p>
                            <a class="btn bg-theme mt-4 w3_pvt-link-bnr scroll" href="#about" role="button">
                                View More
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slider-img">
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col-3 col-sm-6 px-0 bg-theme2 banner-left-grid">
                            <div class="banner-text h-100">
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 banner banner2 banner-text">
                        </div>
                        <div class="slider-info">
                            <span class="line">Online Help</span>
                            <h3>Easy to use</h3>
                            <p class="text-white">
                                Easy to use, send a request now
                            </p>
                            <a class="btn bg-theme mt-4 w3_pvt-link-bnr scroll" href="#about" role="button">
                                View More
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slider-img">
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col-3 col-sm-6 px-0 bg-theme3 banner-left-grid">
                            <div class="banner-text h-100">
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 banner banner3 banner-text">
                        </div>
                        <div class="slider-info">
                            <span class="line">Online Help</span>
                            <h3>It takes not too much time</h3>
                            <p class="text-white">
                                One click is your request coming
                            </p>
                            <a class="btn bg-theme mt-4 w3_pvt-link-bnr scroll" href="#about" role="button">
                                View more
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
}
@section notification{
    <div class="" style="border-bottom:5px solid #ff5252;height:473px;">
        <div style="margin-left:20px;" class="about-head">
            <div class="sec-main">
                <span class="sub-line">Notification</span>
                <h3 class="wthree-title">Requests have just been completed</h3>
            </div>
            @foreach (var item in ViewBag.notification)
            {
                <div class="row">
                    <div class="col-md-12"><i class="fa fa-check" aria-hidden="true" style="float:left;color:green;padding-top:3px;">&ensp;</i><p style="padding-bottom:10px; color:green;">Yêu cầu @item.Description đã hoàn thành lúc :@item.UpdatedAt</p></div>
                </div>
            }
        </div>
    </div>
}
@section postRequest{
    <div class="container pb-sm-5 pb-4">
        <div class="sec-main">
            <span class="sub-line">Know more</span>
            <h3 class="wthree-title">Latest postings</h3>
        </div>
        <div class="row space-sec">
            <!-- blog grid -->
            @foreach (var item in ViewBag.ListRequest)
            {
                <div class="col-lg-4 col-md-6 mt-sm-0 mt-4">
                    <div class="card">
                        <div style="max-height:200px;overflow:hidden;display:inline-block" class="card-header p-0 position-relative">
                            <a href="#exampleModal2" data-toggle="modal" aria-pressed="false" data-target="#exampleModal2"
                               role="button">
                                @foreach (var image in ViewBag.ListUser)
                                {
                                    if (image.ID == item.UserID)
                                    {
                                        <img class="card-img-bottom" src="@image.Avartar" alt="Card image cap">
                                    }
                                }
                                @*<span class="fa fa-user post-icon bg-theme1" aria-hidden="true"></span>*@
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="blog-title card-title font-weight-bold">
                                <a href="#exampleModal2" data-toggle="modal" aria-pressed="false" data-target="#exampleModal2"
                                   role="button" class="text-theme1">@item.Requestor</a>
                            </h5>
                            <p>
                                @foreach (var general in ViewBag.ListGeneral)
                                {
                                    if (general.Id == item.GeneralID)
                                    {
                                        foreach (var room in ViewBag.ListRoom)
                                        {
                                            if (room.Id == general.RoomId)
                                            {
                                                @room.Name;
                                                break;
                                            }
                                        }
                                        break;
                                    }
                                }
                            </p>
                            <p>@item.Description</p>
                            <button type="button" class="btn blog-btn wthree-bnr-btn mt-3 w3_pvt-link-bnr" data-toggle="modal"
                                    aria-pressed="false" data-target="#exampleModal2">
                                View More
                            </button>
                        </div>
                    </div>
                </div>
            }

            <!-- //blog grid -->
            <!-- blog grid -->
        </div>
    </div>
}
@section countRequest{
    <div class="container">
        <div class="py-lg-5 w3-abbottom ">
            <div class="sec-main">
                <span class="sub-line">Know more</span>
                <h3 class="wthree-title">Interesting truth</h3>
            </div>
            <p class="text-white stat-txt">
                This is a statistic of all completed requirements, unfinished requirements
            </p>
            <div class="row py-md-5  py-4">
                <div class="counter col-lg-4 col-6">
                    <div class="timer count-title count-number mt-2 text-white" data-to="@ViewBag.requestIdCount" data-speed="1500"></div>
                    <p class="count-text text-white">Total requests sent</p>
                </div>

                <div class="counter col-lg-4 col-6">
                    <div class="timer count-title count-number mt-2 text-white" data-to="@ViewBag.requestIdCountFinish" data-speed="1500"></div>
                    <p class="count-text text-white">Finish</p>
                </div>
                <div class="counter col-lg-4 col-6 mt-lg-0 mt-4">
                    <div class="timer count-title count-number mt-2 text-white" data-to="@ViewBag.requestIdCountNotFinish" data-speed="1500"></div>
                    <p class="count-text text-white">Unfinished</p>
                </div>
            </div>
        </div>
    </div>
}
@section request{

    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label class="text-white">
                    Requestor
                </label>
                <input id="Requestor" class="form-control" type="text" placeholder="Full name" name="Requestor" required="">
            </div>
            <div class="col-md-6 mt-md-0 mt-4">
                <label class="text-white">
                    Email
                </label>
                <input id="Email" class="form-control" type="email" placeholder="example@email.com" name="Email"
                       required="">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="text-white">
            Facility
        </label>
        <div class="row">
            <div class="col-md-4">
                <select class="form-control" id="comboboxFacility" name="FacilityId">
                    <option value="-1">Select facility</option>
                    @foreach (var facility in ViewBag.facility)
                    {
                        <option value="@facility.Id">@facility.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-control" name="RoomId" id="comboboxRoom"></select>
            </div>
            <div class="col-md-4">
                <select class="form-control" name="BelongingId" id="comboboxBelonging"></select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="text-white">
                    Your request
                </label>
                <textarea id="Description" name="Description" placeholder=" Enter your request here" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <button id="btn-request" class="btn  btn-block w-100 font-weight-bold text-capitalize bg-theme1 text-white">
                Send require
            </button>

        </div>
    </div>
}
@section contact{
    <div class="contact-wthree pt-lg-5" id="contact">
        <div class="container py-sm-5 py-4">
            <div class="sec-main">
                <span class="sub-line">Contact</span>
                <h3 class="wthree-title">Contact US</h3>
            </div>
            <div class="row py-md-4">
                <div class="col-lg-12 px-lg-0">
                    <div class="w3_pvt-contact-top">
                        <ul class="d-flex header-w3pvt pt-0 flex-column">
                            <li>
                                <span class="fa fa-home"></span>
                                <p class="d-inline">8 Ton That Thuyet</p>
                            </li>
                            <li class="my-3">
                                <span class="fa fa-envelope-open"></span>
                                <a href="mailto:example@email.com" class="text-secondary">OnlineHelp@gmail.com</a>
                            </li>
                            <li>
                                <span class="fa fa-phone"></span>
                                <p class="d-inline">+456 123 7890</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-12 mt-4 px-0">
                        <!-- register form grid -->
                        <div class="contact-form">
                            <h4>Send require</h4>
                            <form action="#" method="post" class="register-wthree">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label>
                                                Full name
                                            </label>
                                            <input id="NameContact" class="form-control" type="text" placeholder="David Khai" name="NameContact"
                                                   required="">
                                        </div>
                                        <div class="col-lg-4 my-lg-0 my-4">
                                            <label>
                                                Email
                                            </label>
                                            <input id="EmailContact" class="form-control" type="email" placeholder="example@email.com"
                                                   name="EmailContact" required="">
                                        </div>
                                        <div class="col-lg-4">
                                            <label>
                                                Phone Number
                                            </label>
                                            <input id="PhoneContact" class="form-control" type="text" placeholder="xxxx xxxxx" name="Phone"
                                                   required="">
                                        </div>
                                        <div class="offset-lg-3">
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-8">
                                            <label>
                                                Description
                                            </label>
                                            <textarea id="DescriptionContact" name="DescriptionContact" placeholder="Enter your contact here" class="form-control"></textarea>
                                        </div>

                                        <div class="col-md-4 d-flex mt-4">
                                            <button type="submit" id="btn-contact" class="btn btn-w3_pvt btn-block w-100 text-white font-weight-bold text-uppercase bg-theme1">
                                                Send required
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section feedBack{
    <div class="testimonials-wthree py-lg-5 py-4 text-center" id="testimonials">
        <div class="container">
            <div class="sec-main text-left">
                <span class="sub-line text-white">Feedback</span>
                <h3 class="wthree-title text-theme2">Feedback on Online help</h3>
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto slide-left-wthree">
                    <div class="card mt-md-3">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
                            <div class="w-100 carousel-inner" role="listbox">
                                @foreach (var item in ViewBag.ListFeedBack)
                                {
                                    <div class="carousel-item active">
                                        <div class="carousel-caption">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-4">
                                                    <div class="testi-img">
                                                        @foreach (var image in ViewBag.ListUser)
                                                        {
                                                            if (image.ID == item.UserID)
                                                            {
                                                               <img src="@image.Avartar" alt="" class="rounded-circle img-fluid" />
                                                            }
                                                        }
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-10 col-sm-8 mt-sm-0 mt-4">
                                                    <h3>Online help</h3>
                                                    <p class="my-3">
                                                        @item.Description
                                                    </p>
                                                    <p class="text-theme">- @item.Name</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                            <div class="float-right navi">
                                <a class="" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon ico" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon ico" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="home" class="position-relative">
    <div class="header-main">
        <div class="d-sm-flex justify-content-between">
            <h1>
                <a class="navbar-brand" href="index.html">
                    O<span>n</span>Li<span>ne</span>h<span>el</span>p
                </a>
            </h1>
            @{
                var user = (OnlineHelp.Common.UserLogin)Session[OnlineHelp.Common.CommonConstants.USER_SESSION];
            }
            @if (user == null)
            {
                <div class="hearder-right-w3_pvt d-flex justify-content-sm-end align-items-center  mt-sm-0 mt-4">
                    <ul class="d-flex header-w3_pvt">
                        @*<li>
                                <button type="button" class="btn w3ls-btn d-block" data-toggle="modal" aria-pressed="false"
                                        data-target="#exampleModal1">
                                    <span class="fa fa-sign-in"></span>Register
                                </button>
                            </li>*@
                        <li>
                            <button type="button" class="btn w3ls-btn btn-2  d-block" data-toggle="modal" aria-pressed="false"
                                    data-target="#exampleModal">
                                <span class="fa fa-lock"></span> Login
                            </button>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">@user.Name &ensp; <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#home">@Html.ActionLink("Logout", "Logout")</a>
                        <a class="pointer" data-toggle="modal" aria-pressed="false"
                           data-target="#exampleModal1">Setting</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btn-request").off('click').on('click', function (e) {
            var Requestor = $('#Requestor').val();
            var Email = $('#Email').val();
            var Description = $('#Description').val();
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;


            if (Requestor == '') {
                $("#Requestor").val("");
                $("#Requestor").attr("placeholder", "You have not entered a name.");
                $("#Requestor").addClass('placehoder');
            }





            if (Email == '') {
                $("#Email").val("");
                $("#Email").attr("placeholder", "You have not entered the recipient email.");
                $("#Email").addClass('placehoder');
            } else if (regex.test(Email) == '') {
                $("#Email").val("");
                $("#Email").attr("placeholder", "Invalid email.");
                $("#Email").addClass('placehoder');
            }

            if (Description.length < 5) {
                $("#Description").val("");
                $("#Description").attr("placeholder", "You have not entered the content to submit");
                $("#Description").addClass('placehoder');
            } else if (Description == '') {
                $("#Description").val("");
                $("#Description").attr("placeholder", "You have not entered the content to submit");
                $("#Description").addClass('placehoder');
            }


            if (Requestor == '' || Email == '' || regex.test(Email) == ''
                || Description == '' || Description.length < 5
            ) {

            } else {
                e.preventDefault();
                $.ajax({
                    url: '/Home/Request',
                    data: {
                        Requestor: $("#Requestor").val(),
                        Email: $("#Email").val(),
                        Description: $("#Description").val(),
                        FacilityId: $("#comboboxFacility").val(),
                        RoomId: $("#comboboxRoom").val(),
                        BelongingId: $("#comboboxBelonging").val(),
                        Level: $("#comboboxLevel").val()
                    },
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            swal("Notification", "You have successfully sent contact information. We will contact you soon.", "success")
                                .then((value) => {
                                    window.location.href = "/Home/Index";
                                });
                        } else {
                            swal({
                                title: "Notification",
                                text: "Error. Your contact has not been sent. Please try again!",
                                icon: "warning",
                                buttons: true,
                                dangerMode: true,
                            })
                        }
                    }
                });
            }
        });
    });

</script>

<script>
    $(document).ready(function () {
        $("#btn-contact").off('click').on('click', function (e) {
            var NameContact = $('#NameContact').val();
            var EmailContact = $('#EmailContact').val();
            var DescriptionContact = $('#DescriptionContact').val();
            var PhoneContact = $('#PhoneContact').val();
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;


            if (NameContact == '') {
                $("#NameContact").val("");
                $("#NameContact").attr("placeholder", "You have not entered a name.");
                $("#NameContact").addClass('placehoder');
            }





            if (EmailContact == '') {
                $("#EmailContact").val("");
                $("#EmailContact").attr("placeholder", "You have not entered the recipient email.");
                $("#EmailContact").addClass('placehoder');
            } else if (regex.test(EmailContact) == '') {
                $("#EmailContact").val("");
                $("#EmailContact").attr("placeholder", "Invalid email.");
                $("#EmailContact").addClass('placehoder');
            }

            if (DescriptionContact.length < 5) {
                $("#DescriptionCongtact").val("");
                $("#DescriptionContact").attr("placeholder", "You have not entered the content");
                $("#DescriptionContact").addClass('placehoder');
            } else if (DescriptionContact == '') {
                $("#DescriptionContact").val("");
                $("#DescriptionContact").attr("placeholder", "You have not entered the content");
                $("#DescriptionContact").addClass('placehoder');
            }

            if (PhoneContact == '') {
                $("#PhoneContact").val("");
                $("#PhoneContact").attr("placeholder", "You have not entered a name.");
                $("#PhoneContact").addClass('placehoder');
            }

            if (NameContact == '' || EmailContact == '' || PhoneContact == '' || regex.test(EmailContact) == ''
                || DescriptionContact == '' || DescriptionContact.length < 5
            ) {

            } else {
                e.preventDefault();
                $.ajax({
                    url: '/Home/RequestContact',
                    data: {
                        Name: $("#NameContact").val(),
                        Email: $("#EmailContact").val(),
                        Phone: $("#PhoneContact").val(),
                        Description: $("#DescriptionContact").val(),
                    },
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            swal("Notification", "You have successfully sent contact information. We will contact you soon.", "success")
                                .then((value) => {
                                    window.location.href = "/Home/Index";
                                });
                        } else {
                            swal({
                                title: "Notification",
                                text: "Error. Your contact has not been sent. Please try again!",
                                icon: "warning",
                                buttons: true,
                                dangerMode: true,
                            })
                        }
                    }
                });
            }
        });
    });

</script>

<script>
      $(document).ready(function () {
        $('#comboboxFacility').on('change', function () {
            var facilityId = $('#comboboxFacility option:selected').val();
            $.ajax({
                type: 'GET',
                data: { facilityId: facilityId },
                url: '@Url.Action("loadRoom","Home")',
                success: function (result) {
                    var s = '<option value="-1">Chọn phòng</option>';
                    for (var i = 0; i < result.length; i++) {
                        s += '<option class="" value="' + result[i].Id + '">' + result[i].Name + '</option>'
                    }
                    $('#comboboxRoom').html(s);
                }
            });
        });


        $('#comboboxRoom').on('change', function () {
            var roomId = $('#comboboxRoom option:selected').val();
            $.ajax({
                type: 'GET',
                data: { roomId: roomId },
                url: '@Url.Action("loadBelonging","Home")',
                success: function (result) {
                    var s = '<option value="-1">Chọn mục cần sửa</option>';
                    for (var i = 0; i < result.length; i++) {
                        s += '<option value="' + result[i].Id + '">' + result[i].Name + '</option>'
                    }
                    $('#comboboxBelonging').html(s);
                }
            });
        });
    });




</script>



