﻿@model PagedList.IPagedList<Model.EF.Admin>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lí thành viên";
    Layout = "~/Areas/AdminManager/Views/Shared/LayoutAdmin.cshtml";
}
@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-7">
            <h2>Admin List</h2>
        </div>
        <div style="margin-top:20px" class="col-md-5">
            <div class="col-md-8">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" value="@ViewBag.searchString" type="text" placeholder="Search" name="searchString">
                </form>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </div>
}
@section jsFooter{
    <script src="~/Assets/Admin/js/controller/adminController.js"></script>
}
<div class="w3l-table-info">
    <table id="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Account</th>
                <th>Email</th>
                <th>Status</th>
                <th>Manipulation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="row_@item.ID">
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td><img src="@item.Avartar" alt="@item.Avartar" width="100" /></td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>
                        @if (item.Status == true)
                        {
                            <a style="background-color:green; border-radius: 5px; padding: 5px;text-align:center;color:white" href="#" class="btn-active" data-id="@item.ID">Active</a>
                        }
                        else if (item.Status == false)
                        {
                            <a style="background-color:red; border-radius: 5px; padding: 5px;text-align:center;color:white" href="#" class="btn-active" data-id="@item.ID">Lock</a>
                        }
                    </td>
                    <td>
                        <a href="/AdminManager/Admin/Edit/@item.ID">Edit</a>
                        |
                        @Ajax.ActionLink("Delete", "Delete", new { @id = item.ID},new AjaxOptions
                   {
                       Confirm = "Do you want to delete this record?",
                       OnComplete = "$('#row_"+item.ID+"').remove()",
                       HttpMethod = "Delete"
                   })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
