﻿.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.pointer {
    cursor: pointer;
}


table.scroll {
    border-spacing: 0;
    border: 1px solid #ced4da;
    background-color: white;
    width: 100%;
}

    table.scroll tbody,
    table.scroll thead {
        display: block;
    }

thead tr th {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

table.scroll tbody {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody {
    border-top: 1px solid #ced4da;
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}

tbody td {
    border-bottom: 1px solid #e8e8e8;
    padding: 5px;
}
tbody .row .col-md-6{
    text-align:center;
}