﻿<div class="sidebar-menu">
    <header class="logo1">
        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu">
            <li><a href="/RepairTeam/HomeRepairTeam/Index"><i class="fa fa-home"></i> <span>Home</span><div class="clearfix"></div></a></li>
            <li id="menu-academico">
                <a href="/RepairTeam/RequestRepairTeam/Index/"><i class="fa fa-list-alt"></i><span>Request</span> <span style="float: right"></span><div class="clearfix"></div></a>
            </li>
        </ul>
    </div>
</div>
