﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/LayoutAdmin.cshtml";
}

@section header{
    Home
}
<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a> <i class="fa fa-angle-right"></i></li>
</ol>
<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3>Pie chart</h3>
            <div id="piechart" style="width:900px; height: 500px;"></div>
        </header>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function jsonThongKeTheoLop(handleData) {
        $.ajax({
            url: "/AdminManager/Chart/GetJsonData",
            //data: JSON.stringify(dto),
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            success: function (result) {
                handleData(result);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });

    var type = [];
    var amount = [];
    var datas;
    jsonThongKeTheoLop(function (data) {
        $.each(data, function (i, item) {
            type.push([item.Type].toString());
            amount.push([item.Amount]);

            datas = data; // Dành cho biểu đồ cột
        });
        google.setOnLoadCallback(drawChartSv);
        google.setOnLoadCallback(drawChart);
    });

    function drawChartSv() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Type');
        data.addColumn('number', 'Amount');

        data.addRows(type.length);

        for (var i = 0; i < type.length; i++) {
            data.setCell(i, 0, type[i] + ' (' + amount[i] + ' request)');
            data.setCell(i, 1, parseInt(amount[i]));
        }
        // Set chart options
        var options = {
            'title': 'Statistics of the number of Requests',
            is3D: true
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
    

</script>


