﻿@model OnlineHelp.Areas.AdminManager.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Pooled Admin Panel Category Flat Bootstrap Responsive Web Template | Sign In :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="/Assets/Admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="/Assets/Admin/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/Assets/Admin/css/morris.css" type="text/css" />
    <!-- Graph CSS -->
    <link href="/Assets/Admin/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/Assets/Admin/css/jquery-ui.css">
    <!-- jQuery -->
    <script src="/Assets/Admin/js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='/Assets/Admin/fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='/Assets/Admin/fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="/Assets/Admin/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
</head>
<body>
    <div class="main-wthree">
        <div class="container">
            <div class="sin-w3-agile">
                <h2>Please log in</h2>
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                    <div class="username">
                        <span class="username">Username:</span>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "name" })
                        <div class="clearfix"></div>
                    </div>
                    <div class="password-agileits">
                        <span class="username">Password:</span>
                        @Html.PasswordFor(model => model.Password, new { @class = "password" })
                        <div class="clearfix"></div>
                    </div>
                    <div class="login-w3">
                        <input type="submit" class="login" value="Login">
                    </div>
                    <div class="clearfix"></div>
                }
            </div>
        </div>
    </div>
</body>
</html>

