﻿
.noti-content {
    position: fixed;
    background: #e5e5e5;
    border-radius: 4px;
    top: 47px;
    width: 250px;
    display: none;
    border: 1px solid #9E988B;
}

ul#notiContent {
    max-height: 200px;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
}

ul#notiContent li {
        margin: 3px;
        padding: 6px;
        background: #fff;
        text-decoration: none;
        float: left;
}

.noti-top-arrow {
    border-color: transparent;
    border-bottom-color: #F5DEB3;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    position: absolute;
    right: 32px;
    top: -8px;
}

span.count {
    position: relative;
    top: -3px;
}


